@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'barlow', sans-serif;
}

.container {
    width: 1240px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

header .iconDiv {
    display: flex;
    align-items: center;
    gap: 7.71px;
}

.iconDiv img {
    width: 18.29px;
    height: 18.33px;

}

nav {
    display: flex;
    gap: 48px;
}

.actionsDiv {
    display: flex;
    align-items: center;
    gap: 8px;
}

.actionsDiv button {
    height: 40px;
    padding: 10px 18px;
    border-radius: 6px;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
}

#burger-menu {
    display: none;
}

.iconDiv h2 {
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

nav a {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.reg {
    width: 94px;
    height: 40px;
    padding: 10px 18px 10px 18px;
    border-radius: 6px;
    border: 1px solid #1576D6;
    background-color: transparent;
    color: #1576D6;
    font-weight: 500;
}

.sign {
    width: 82px;
    height: 40px;
    padding: 10px 18px 10px 18px;
    border-radius: 6px;
    border: 1px solid #1576D6;
    background-color: #1576D6;
    color: white;
    font-weight: 500;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
   
    .container{
        width: 100%;
    }

    header {
        padding: 32px 16px;
        position: fixed;
    }

    header .iconDiv h2 {
        color: white;
        font-family: Barlow;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        letter-spacing: 0.02em;

    }

    nav {
        display: none;
    }

    .actionsDiv {
        display: none;
    }

    #burger-menu {
        display: block;
        width: 20px;
        height: 20px;
    }

}

#section-one {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(./img-2/HeroImg.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.hero-text {
    width: 650px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 767px) {
    #section-one {
        height: 100vh;
        padding: 16px;
        padding-bottom: 45px;
        background-position: left;
        background-size: cover;
        border-radius: 0;
        justify-content: left;
        align-items: end;
    }

    .hero-text {
        width: 358px;
        max-width: 95%;
        height: 112px;
        max-width: 95%;
        justify-content: flex-start;
        text-align: left;
    }

    .hero-text h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 26.4px;
    }

    .hero-text p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        letter-spacing: 0.02em;
    }
}

.search-bar {
    width: 1030px;
    max-width: 80%;
    height: 64px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    background-color: #fffffc;
    border-radius: 8px;
    box-shadow: 0px 4px 37px 0px #00000026;
    position: relative;
    bottom: 32px;
}

.location,
.check-in,
.check-out,
.guests {
    display: flex;
    color: #25292C;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.02em;
}

.location {
    width: 260px;
    height: 43px;
    padding: 12px;
    gap: 10px;
    border-radius: 4px;
    background-color: #F2F2F2;
}

.check-in,
.check-out {
    width: 170px;
    height: 43px;
    padding: 12px;
    gap: 10px;
    border-radius: 4px;
    background-color: #F2F2F2;
}

.guests {
    width: 210px;
    height: 43px;
    padding: 12px;
    gap: 10px;
    border-radius: 4px;
    background-color: #F2F2F2;
}

.search {
    width: 148px;
    height: 44px;
    padding: 12px 18px 12px 18px;
    gap: 10px;
    border-radius: 6px;
    background-color:#1576D6;
    border: none;
    color: white;
}

@media screen and (max-width: 767px) {
    
    .search-bar {
        width: 385px;
        height: 162px;
        max-width: 100%;
        padding: 24px 14px;
        position: static;
        flex-wrap: wrap;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }  
    
    .location,
    .check-in,
    .check-out,
    .guests {
        width: 171px;
        max-width: 50%;
        display: flex;
        color: #25292C;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.02em;
}

    .location,
    .check-in,
    .check-out,
    .guests p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: 0.02em;
    }

    .search {
        width: 358px;
        max-width: 100%;
        height: 44px;
    }

  }

  .warning-rectangle {
    width: 1240px;
    max-width: 100%;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    gap: 19px;
    border-radius: 8px;
    background-color: #F4C123;
  }

  .warning-rectangle p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.02em;
  }

  .warning-rectangle a {
    text-decoration: none;
    color: #1576D6;
  }

  @media screen and (max-width: 767px) {
    .warning-rectangle {
        width : 358px;
        height: 53px;
        padding: 10px;
        margin-top: 32.5px;
        gap: 10px;
    }

    .warning-rectangle img {
        width: 32px;
        height: 32px;
    }

    .warning-rectangle p {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.02em;
    }
  }

  #section-two {
    width: 1240px;
    max-width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }

  #section-two h2 {
    padding-bottom: 43px;
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
  }

  .features {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    gap: 74px;
    /* background-color: black; */
  }

  .single-feature {
    width: 255.53px;
    /* height: 100%; */
    /* max-width: 24%; */
    max-width: calc(255.53/1240*100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .single-feature img {
    width: 60px;
    height: 60px;
    position: relative;
    left: 45px;
  }

  .single-feature h3 {
    font-family: Barlow;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    padding-top: 32px;
    padding-bottom: 14px;
    color: #25292C;
  }

  .single-feature p {
    height: 76px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #25292C;
  }

  @media screen and (max-width: 767px) {
   #section-two {
    width: 358px;
    text-align: center;
   }

   .features {
    width: 358px;
    max-width: 100%;
    height: 100%;
    gap: 15px;
    padding: 32px 0px;
    flex-direction: column;
    /* background-color: green; */
   }

   .single-feature{
    width: 358px;
    max-width: 100%;
    height: 183px;
    display: flex;
    align-items: center;
    /* background-color: red; */
   }

   .single-feature img {
    width: 48px;
    height: 48px;
    left: 0;
   }

   .single-feature h3 {
    padding-top: 24px;
    padding-bottom: 10px;
   }

   .single-feature p {
    width: 241.18px;
    height: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
   }
  }

  #section-three {
    width: 100%;
    padding-top: 60px;
  }

  .section-heading {
    width: 504px;
    max-width: 45%;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
  }

  .section-describtion {
    width: 610px;
    max-width: 50%;
    padding-top: 16px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.02em;
  }

  .vacations {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .vacation {
    width: 295px;
    max-width: 23.79%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: calc(1/4*100%);
  }


  .vacation-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color:#25292C;
  }

  .vacation-info h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .vacation-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
  }

  @media screen and (max-width: 767px) {
    #section-three {
        width: 358px;
        padding-top: 45px;
    }

    .section-heading {
        width: 358px;
        max-width: 100%;
    }

    .section-describtion {
        width: 358px;
        max-width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.02em;
    }

    .vacations {
        width: 358px;
        max-width: 100%;
        flex-direction: column;
        gap: 16px;
    }

    .vacation {
        width: 358px;
        max-width: 100%;
    }

    .vacation img {
        width: 358px;
        max-width: 100%;
    }

  }

  #section-four {
    width: 1240px;
    max-width: 100%;
    padding-top: 60px;
}

.inspirations {
    width: 1240px;
    max-width: 100%;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.inspiration-card {
    width: 400px;
    /* max-width: calc(1 / 3* 100%); */
    max-width: calc(400/1240*100%);
    height: 280px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    color: white;
    border-radius: 8px;
}

.card-titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-titles h3 {
    width: 360px;
    max-width: 90%;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.card-one {
    background-image: url(./img-2/Rectangle\ 8\ \(5\).png);
}

.card-two {
    background-image: url(./img-2/Rectangle\ 16\ \(1\).png);

}

.card-three {
    background-image: url(./img-2/Rectangle\ 17\ \(3\).png);
}

@media screen and (max-width: 767px) {

#section-four {
    width: 358px;
    max-width: 100%;
}

.inspirations {
    width: 358px;
    max-width: 100%;
    flex-direction: column;
    gap: 16px;
}

.inspiration-card {
    width: 358px;
    max-width: 100%;
    height: 280px;
    padding: 20px 26px 24px 20px;
    border-radius: 8px;
}

.card-titles h3 {
    width: 314px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.card-titles p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.02em;
}
    
}

#section-five {
    width: 1240px;
    max-width: 100%;
    padding-top: 60px;
    /* background-color: palevioletred; */
}

.hotels {
    width: 1240px;
    max-width: 100%;
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
}

.hotel {
    width: 295px;
    max-width: (calc(1/4*100%));
    max-width: calc(295/1240*100%);
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hotel img {
    width: 295px;
    max-width: 100%;
    height: 300px;
}

.hotel-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hotel-info h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.hotel-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
    #section-five {
        width: 358px;
        max-width: 100%;
    }

    .hotels {
        width: 358px;
        max-width: 100%;
        flex-direction: column;
        gap: 16px;
    }

    .hotel {
        width: 358px;
        max-width: 100%;
    }

    .hotel img {
        width: 358px;
        max-width: 100%;
        height: auto;
    }
    
}

#section-six {
    width: 1240px;
    max-width: 100%;
    padding-top: 60px;
}

.section-six-headings {
    width: 1240px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-six-headings p {
    font-size: 28px;
    font-weight: 400;
    line-height: 28.13px;
    text-decoration: none;
}

.things-to-do {
    width: 100%;
    height: 550px;
    padding-top: 40px;
    /* display: flex; */
    gap: 30px;
    position: relative;
    /* background-color: #8351b1; */
}

.left {
    width: 300px;
    max-width: 24.1%;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
}


.small-card {
    width: 300px;
    height: 240px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    color: #fffffc;
    border-radius: 12px;
    max-width: 24.19%;
}

.small-card h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.Cruises {
    background-image: url(./img-2/div.featureCard__image.png);
    position: absolute;
}

.Museum {
    background-image: url(./img-2/div.featureCard__image\ \(1\).png);
    position: absolute;
    bottom: 0;
}

.center {
    width: 410px;
    max-width: 33%;
    position: absolute;
    left: 330px;
}

.big-card {
    width: 413px;
    height: 510px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    color: #fffffc;
    border-radius: 12px;
    max-width: 33%;
    left: 330px;
    position: absolute;
}

.big-card h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.beach-tours {
    background-image: url(./img-2/div.featureCard__image\ \(2\).png);
}

.right {
    width: 470px;
    max-width: 37.9%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: absolute;
    /* left: 697px; */
    right: 0;
}

.medium-card {
    width: 470px;
    max-width: 100%;
    height: 240px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    color: #fffffc;
    border-radius: 12px;
    position: absolute;
    right: 0;
}

.city-tours {
    background-image: url(./img-2/div.featureCard__image\ \(3\).png);
}

.city-tours h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.right-bottom {
    width: 470px;
    max-width: 100%;
    display: flex;
    gap: 30px;
}


.thin-card {
    width: 190px;
    max-width: 43.18%;
    height: 240px;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    border-radius: 12px;
    color: #fffffc;
    position: absolute;
    bottom: 0;
    right: 280px;
}

.food {
    background-image: url(./img-2/div.featureCard__image\ \(4\).png);
}

.food h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.mini-card {
    width: 250px;
    max-width: 56.81%;
    height: 240px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
    color: #fffffc;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hiking {
    background-image: url(./img-2/div.featureCard__image\ \(5\).png);
    order: 6;
}

.hiking h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

@media screen and (max-width: 767px) {
    #section-six {
        width: 358px;
        max-width: 100%;
    }

    .section-six-headings p {
        display: none;
    }

    .things-to-do {
        /* gap: 10px; */
        height: 874px;
        padding-top: 32px;
    }


    .Cruises {
        width: 227px;
        max-width: 63.40%;
        height: 182px;
    }

    .food {
        width: 121px;
        max-width: 34.37%;
        height: 182px;
        position: absolute;
        top: 32px;
        right: 0;
    }

    .city-tours {
        width: 100%;
        /* max-width: 100%; */
        height: 184px;
        position: absolute;
        top: 224px;
    }

    .beach-tours {
        width: 358px;
        max-width: 100%;
        position: absolute;
        height: 296px;
        top: 418px;
        left: 0;
        background-position: center;
    }

    .hiking {
        width: 121px;
        max-width: 34.37%;
        height: 182px;
        position: absolute;
        /* bottom: 0; */
        left: 0;
        top: 724px;
        background-position: right;
    }

    .Museum {
        width: 227px;
        max-width: 63.40%;
        height: 182px;
        position: absolute;
        right: 0;
        top: 724px;
    }

    .small-card,
    .medium-card,
    .big-card,
    .thin-card,
    .mini-card {
        padding: 20px;
    }
}

#section-seven {
    width: 1240px;
    max-width: 100%;
    padding-top: 60px;
}

.footprints {
    width: 1240px;
    max-width: 100%;
    padding: 71.14px 73px;
    display: flex;
}

.footprint {
    width: calc(1/4*100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footprint img {
    width: 60px;
    height: 61px;
}

.footprint h3 {
    padding-top: 29px;
    font-size: 38.28px;
    font-weight: 700;
    line-height: 45.94px;
    color: #25292C;
}

.footprint p {
    font-size: 14.77px;
    font-weight: 400;
    line-height: 17.72px;
    color: #25292C;
}

@media screen and (max-width: 767px) {
    #section-seven {
        width: 358px;
        max-width: 100%;
        padding-top: 75px;
        text-align: center;
    }

    .footprints {
        flex-direction: column;
        gap: 16px;
        padding-top: 32px;
        padding-bottom: 0;
    }

    .footprint {
        width: 358px;
        max-width: 100%;
        height: 170px;
    }

    .footprint img {
        width: 48px;
        height: 48px;
    }
}

#section-eight {
    width: 1240px;
    max-width: 100%;
    padding: 110.5px 0px;
}

.eight-container {
    width: 1240px;
    max-width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    padding: 64px 69px;
    background-image: url(./img-2/Rectangle\ 18.png);
}

.eight-container img {
    position: absolute;
    top: 0;
    right: 0;
}

.eight-container h2 {
    width: 580px;
    height: 78px;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #fffffc;
}

.eight-container button {
    width: 181px;
    height: 44px;
    padding: 12px 18px 12px 18px;
    border-radius: 6px;
    border: none;
    color: #fffffc;
    background-color: #1576D6;
}

@media screen and (max-width: 767px) {
    #section-eight {
        width: 358px;
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 45px;
    }

    .eight-container img {
        display: none;
    }

    .eight-container {
        width: 358px;
        max-width: 100%;
        height: 212px;
        padding: 41px 12px;
        background-image: url(./img-2/Rectangle\ 18\ \(1\).png);
    }

    .eight-container h2 {
        width: 333px;
        max-width: 100%;
        height: 56px;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .eight-container button {
        width: 181px;
        height: 44px;
        border-radius: 6px;
    }
    
}

footer {
    width: 100%;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 114px;
    background-image: url(./img-2/images.png);
}

.footer-container {
    width: 1240px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.footer-container h2 {
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
}

.footer-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    color: #1576D6;
}


.menus {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
}

.list-one {
    width: 225px;
    max-width: 22%;
    display: flex;
    justify-content: center;
    gap: 4px;
    text-align: left;
}

.list-one::before {
    content: url(./img-2/plan.png);
    width: 24px;
    height: 24px;
    padding: 0;
    padding-right: 4px;
}

.logo-titles {
    display: flex;
    gap: 6px;
    flex-direction: column;
}


.logo-titles h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    color: #25292C;
}

.logo-titles p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.02em;
    color: #6C757D;
}



.list-two span {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
    text-align: left;
    text-transform: capitalize;
}

li {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    color: #6C757D;
}

li a {
    text-decoration: none;
    color: #1576D6;
}

.copyright {
    width: 100%;
    height: 40px;
    /* position: relative; */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F6F3EF;
    color: #6C757D;
    padding-right: 205px;
}

.copyright div {
    display: flex;
    align-items: center;
    gap: 6px;
    /* position: absolute; */
    right: 0;
}

.copyright img {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 767px) {
    footer {
        padding-top: 45px;
        background-image: none;
    }

    .footer-container h2 {
        display: none;
    }

    .footer-container p {
        display: none;
    }

    .menus {
        padding: 30px;
        flex-direction: column;
        gap: 40px;
    }

    .list-one {
        max-width: 70%;
        justify-content: flex-start;
    }

    .list-one p {
        display: block;
    }

    .copyright {
        display: none;
    }
    
}

